rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    match /mixes/{allPaths=**} {
      allow read: if true;
      // Allow public upload up to 500MB
      allow write: if request.resource == null || request.resource.size < 500 * 1024 * 1024;
    }
    
    match /images/{allPaths=**} {
      allow read: if true;
      // Allow public upload up to 10MB
      allow write: if request.resource == null || (request.resource.size < 10 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*'));
    }
  }
}
